footer{
    position: fixed;
    bottom: 0;
    
}
.footer{
    background-color: rgb(12, 3, 59);
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: static;
}
